%section.page-block
  .container
    = form_for campaign_step_model, url: campaign_campaign_step_path(campaign_step_model, "#{@campaign.template}=#{step}"), as: :campaign do |f|

      %fieldset
        %legend 아젠다 선택

        .row.masonry-container
          - @agendas.each do |agenda|
            .col-lg-3.col-md-3.col-sm-4.col-xs-6
              .agenda-card.panel-floating.component-card[agenda]
                .card-image{ style: "height: 100px; background-image: url(#{agenda.image.md.url}); background-size: cover; background-position: center center;" }
                .card-content
                  .header{ style: 'font-size: 1.2em' }
                    = f.radio_button :issue_id, agenda.issues.first.id
                    = agenda.name

                  .card-description
                    %span
                      찬반투표 (#{agenda.opinions.sum(:votes_count)})
                    %span
                      정책 (#{agenda.opinions.count})

      - if previous_step.present?
        = link_to "previous", edit_campaign_campaign_step_path(campaign_step_model, previous_step)

      %div
        = f.submit (next_step.present? ? "다음으로" : "저장"), class: 'btn btn-lg btn-primary btn-block'
